body {
    --grid-color: whitesmoke;
    --grid-width: clamp(35rem, 90vw, 75vh);
    --value-fontsize: calc(var(--grid-width) / 15);
    --note-fontsize: calc(var(--grid-width) / 42);
    --main-fontsize: calc(var(--grid-width) / 30);
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

/* * {
    border: red 1px solid;
} */

header {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: var(--main-fontsize);
    margin: 0.3em;
}

.grid {
    background-color: var(--grid-color);
    color: black;
    font-weight: normal;
    border: black 2px solid;
    width: var(--grid-width);
    height: var(--grid-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    cursor: pointer;
    user-select: none;
}

.cell {
    border: black 1px solid;
}

.cell.row0,
.cell.row3,
.cell.row6 {
    border-top: black 2px solid;
}

.cell.row2,
.cell.row5,
.cell.row8 {
    border-bottom: black 2px solid;
}

.cell.col0,
.cell.col3,
.cell.col6 {
    border-left: black 2px solid;
}

.cell.col2,
.cell.col5,
.cell.col8 {
    border-right: black 2px solid;
}

.cell.value {
    font-size: var(--value-fontsize);
    display: grid;
    place-content: center;
}

.cell.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: var(--note-fontsize);
}

.cell.move-line {
    background: #c0c0c0;
}

.cell.invalid-line {
    background-color: #ddd;
}

.cell.invalid-square {
    background-color: yellow;
}

.note {
    display: grid;
    place-content: center;
    color: #505050;
    border: transparent 2px solid;
    border-radius: 50%;
}

.note.yes:hover {
    border: blue 2px solid;
    border-radius: 50%;
}

.note.no {
    opacity: 0;
}

.note.no:hover {
    opacity: 0.3;
}

.note.move-keynote {
    color: blue;
}

.note.move-deadnote {
    color: red;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: var(--grid-width);
    margin: 1em auto;
}

.button {
    background-color: #222;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    user-select: none;
    width: calc(var(--grid-width) / 9);
    height: 2em;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.button:hover {
    background-color: rgb(122, 30, 175);
}

.button-popup {
    position: absolute;
    bottom: -100%;
    background-color: white;
    border-radius: 6px;
    width: 100%;
    color: black;
    opacity: 0;
    transition: opacity 1s;
}

.button:hover > .button-popup {
    opacity: 1;
    transition: opacity 1s 0.5s;
}


.button.done {
    background-image: url("./svg/check.svg");
}

.button.back {
    background-image: url("./svg/back.svg");
}

.button.forward {
    background-image: url("./svg/forward.svg");
}

.button.clue {
    background-image: url("./svg/lightbulb.svg");
}

.button.show {
    background-image: url("./svg/visibility.svg");
}

.button.hide {
    background-image: url("./svg/close.svg");
}

.button.recalc {
    background-image: url("./svg/calculate.svg");
}

.button.restart {
    background-image: url("./svg/restart.svg");
}

.button.reset {
    background-image: url("./svg/refresh.svg");
}

.messageContainer {
    background-color: #222;
    /* box-shadow: 2px 2px 2px black; */
    font-size: var(--note-fontsize);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    width: var(--grid-width);
    margin: 1em auto;
    padding: 0.5em;
}