body {
    box-sizing: border-box;
    background-color: whitesmoke;
    --grid-width: clamp(35rem, 90vw, 90vh);
    --value-fontsize: clamp(3rem, 6vw, 6vh);
    --note-fontsize: clamp(1rem, 2vw, 2vh);
}

.grid {
    font-family:
        ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
        "DejaVu Sans Mono", monospace;
    font-weight: normal;
    border: black 2px solid;
    width: var(--grid-width);
    height: var(--grid-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    cursor: pointer;
    user-select: none;
}

.cell {
    border: black 1px solid;
}

.cell.row0,
.cell.row3,
.cell.row6 {
    border-top: black 2px solid;
}

.cell.row2,
.cell.row5,
.cell.row8 {
    border-bottom: black 2px solid;
}

.cell.col0,
.cell.col3,
.cell.col6 {
    border-left: black 2px solid;
}

.cell.col2,
.cell.col5,
.cell.col8 {
    border-right: black 2px solid;
}

.value {
    font-size: var(--value-fontsize);
    display: grid;
    place-content: center;
}

.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: var(--note-fontsize);
}

.note {
    display: grid;
    place-content: center;
    color: #505050;
}

.note.yes:hover {
    border: blue 2px solid;
    border-radius: 50%;
}

.note.no {
    opacity: 0;
}

.note.no:hover {
    opacity: 0.3;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

.button {
    border: 1px black solid;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
